html, body{
    color: #FAFAFA;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.5)!important;
    border-color: rgba(255,255,255,1) !important;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

button {
    border: none;
}
a{
    color: #FAFAFA;
}
header {
    width: 100%;
    height: auto;
    min-height: 75%;
    /*background-image: linear-gradient(to right, #d60b51, #a81fba);*/
    background-image: url("../img/BG-TOPO.jpg");
    background-size: cover;
    background-position: center;
   /* padding: 10px 15% 50px 15%;*/
}

.conteudo{
    box-sizing: border-box;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}
#logo{
    height: 70px;
    border: none;
    margin-left: -15px;
}
.menu{
    background-color: transparent;
    margin-bottom: 30px; 
    padding-left: 0;
}

.menuItem a{
   margin: 0 30px;
   padding: 2px 20px;
   font-weight: bold;
   height: 40px;
   line-height: 30px;
   text-align: center;
   border-radius: 50px;
   width: 90%;
}

.menuItem a:hover {
    /*background-color: #F6CEEC;*/
    color: #FFF;
    box-shadow: 4px 6px 0 0 #751682;
}
.botaoNav{
    padding: 2px 30px;
    margin-left: 50px;
    height: 40px;
    border-radius: 35px;
    box-shadow: 4px 6px 0 0 #751682;
    background-color: #e61b72;
    border: none;
    color: #fff;
    font-weight: bold;
}
.botaoNav:hover {
    background-color: #F6CEE3;
    color: #A901DB;
    font-weight: bold;
}

.headerTitle{
    margin-top: 30px;
    display: block;
}

.headerTitle h3{
    margin-bottom: 30px;/*border: 1px solid yellow;*/
}
.headerTitle h5{
    margin-top: 40px;
    margin-bottom: 40px;/*border: 1px solid yellow;*/
}/*
.headerTitle p{
    font-size: 16px;
}*/
.txt1{
    font-size: 20px;
    margin-bottom: 0;
}
.txt2{
    font-size: 18px;
}
.txt3{
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 0;
}
.headerForm {/*border: 1px solid yellow;*/
   margin-left: -10px;
   padding-bottom: 20px;
}

.headerForm input{
    border: none;
    padding: 4px 20px;
    margin: 10px;
    height: 40px;
}

.headerForm .inputNome{
    width: 220px;
}
.headerForm .inputEmail{
    margin-top: 17px;
    width: 335px;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    .header{
       box-sizing: border-box;
    }
    .headerForm .inputNome{
        width: 95%;
    }
    .headerForm .inputEmail{
        width: 75%;
    }
   
    .formFazerParte .cartao{
        width: 100%;
        margin:0;
        padding:0;
    }
    .apoiadores .empresas2{
        margin-top: 12px;
    }
  }
.headerForm .inputButton{
    margin-top: 17px;
    margin-left: -10px;
    border: none;
    height: 40px;
    background-color: #fff;
}
.headerForm .inputButton:hover, .inputButton:active, .inputButton:visited{
    background-color: #fff;
    color: #D30C57;
    border: none;    
}
.contadores{
    background-color: #e61b72;
    height: 170px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.lead{
    font-size: 16px;
}
.display-6{
    font-size: 40px;
}
.visitantes{
    background-color: #D40C55;
    text-align: right;
    padding-right: 50px;
}

.fundoRoxo{
    background: #1f1f44;
    padding-bottom: 20px;
}

.sobre_title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size:1.75rem;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
   /* border: solid 2px green;*/
}

.sobre_title span{
    margin: 0;
    padding: 0;
}
colchete{
    background: linear-gradient(to top, #a81fba, #d60b51);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}
.sobreEvento .cartao{
    margin-bottom: 50px;
}
.cartao{
    box-sizing: border-box;
    width:100%;
    margin-right: 0;
    border: none;
    padding: 30px 0 20px;
    text-align: center;
}

.cartao h5{
    font-weight: bold;
    margin-bottom: 20px;
}

.cartao p{
    font-size: 14px;

}

.cartao i{
    font-size: 40px;
    background: linear-gradient(to top, #a81fba, #d60b51);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.card{
    background-color: #1f1f44;
}
.btnSobreParticipar{
    border-radius: 45px;
    border: solid 2px #e61b72;
    color: #e61b72;
    padding: 1% 4%;
    background-color: transparent;
}
.btnSobreParticipar:hover{
    background-color: #F6CEE3;
    color: #A901DB;
    font-weight: bold;
    border: none;
    margin-bottom: 4px;
}
.apoiadores{
    background-color: #E61B72;
    height: 100%;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0 40px;
}
.apoiadores h5{
    padding-bottom: 15px;
}
.apoiadores .logos{
    padding: 10px;
}
.apoiadores .empresas{
    width: auto;
    height: 70px;
    margin-top: 12px;
}
.apoiadores .empresas2{
    width: auto;
    height: 90px;
}
.participantes{
    padding-bottom: 70px;
}
.participantes .cartao{
   margin-bottom: 0;
}
.participantes img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.participantes p{
    font-size: 14px;
    font-style: italic;
}
.formFazerParte{
    background-image: url("../img/BG-FORM.jpg");
    background-size: cover;
    background-position: center;
}
.formFazerParte .cartao{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 4px 6px 0 0 #751682;
    background-color: #e61b72;
    border: none;
    color: #fff;
    /*margin: 50px 0 10px;*/
}
.formFazerParte h5{
    padding-top: 20px;
    padding-bottom: 20px;
}
.formFazerParte input{
    margin-bottom: 15px;
}

.formFazerParte p{
    font-size: 12px;
}

.btnFazerParte{
    border-radius: 45px;
    border: solid 2px #fff;
    color: #fff;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: transparent;
    font-size: 14px;
}
.btnFazerParte:hover{
    background-color: #F6CEE3;
    color: #A901DB;
    font-weight: bold;
    border:solid 2px #F6CEE3;
}
.redesSociais{
    margin: 50px 0 20px;
    text-align: center;
}
.formFazerParte img{
    padding: 5px;
    width: 40px;
}
.fundoModal{
    background-color: #E6E6E6;
}
.modal{
   color: #424242;
   text-align: center;
}
.modal .topo{
    background-image: linear-gradient(to right, #d60b51, #a81fba);
    
}
.modal-title .badge{
   margin-left: auto;
   margin-right: auto;
   border-bottom: 3px solid #D70B52;
   margin-bottom: 10px;
}
.modal .btn{
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #D70B52;
}
.modal .btn:hover, .btn:active{
    background-color: #D70B52;
    color: #fff;
    font-weight: bold;
}